
body{
	background-color:green;
}
h1{
	text-align:center; border: 15px solid red;padding: 15px;
}

#imagem1 {height: 100px;width: 150px;}
p{text-align: justify;color: white;}

.ensino{
	color: blue; background-color: white;
}
li::marker { content:"\1F609"; }